
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>@Html.ActionLink("Add user", "Add")</p>
        <p>@Html.ActionLink("Browse users", "Browse")</p>
        <p>@Html.ActionLink("Update user", "Update")</p>
    </div>
</body>
</html>
