<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="L10WF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:30781/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
                name="WebService1Soap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <L10WF.Properties.Settings>
            <setting name="x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="r" serializeAs="String">
                <value>0</value>
            </setting>
        </L10WF.Properties.Settings>
    </userSettings>
</configuration>